html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

.myPhoto{
    border-color: black;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    margin-left: 2%;
    margin-right: 3%;
    width:95%;
    height:1080px;
    margin-top:30px;
    margin-bottom: 20px;
    vertical-align:middle;
    display:inline-block;
}

.myPhotoTitle{
    text-align: center;
    width: auto;
    background: black;
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
}

.hint{
    text-align: center;
    width: auto;
    color: black;
    font-size: 47px;
    font-family: "Times New Roman";
    font-weight: bold;
    margin-top: 180px;
    padding-bottom: 30px;
}

.myPhotoDetail{
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    height:200px;
    border: 5px solid white;
}

.littleTitle{
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
}

.pic{
    width:200px;
    height:200px;
    float:left;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px;
    margin-top:20px;
}

.content{
    margin-left:250px;
    margin-top:18px;
    height:200px;
    width:900px;
    vertical-align:middle;
    text-align:left;
    positon:relative;
}

.modifyButton{
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border-style: hidden;
    margin-top: 20px;
    color: black;
    background: lightgray;
    display:inline-block;
}

.deleteButton{
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border-style: hidden;
    margin-top: 20px;
    color: red;
    background: lightgray;
    display:inline-block;
}

.deleteButton:hover{
    color: dodgerblue;
}

.modifyButton:hover{
    color: darkgreen;
}

.word1 {
    margin-top: 20px;
    font-size: 15px;
    positon:relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align:left;
}

.bottom{
    margin-left: 421px;
    margin-top: 50px;
}

.bottom a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}
#on{
    color: white;
    background-color: black;
}